<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="WatchPath" value="C:\\"/>
    <add key="ArchivePath" value="C:\\Users\\jgray\\Desktop\\Archive"/>
    <add key="GoogleUsername" value=""/>
    <add key="GooglePassword" value=""/>
    <add key="NotificationAdministrationSheetKey" value=""/>
    <add key="EmailServiceURL" value=""/>
    <add key="EmailServiceUserName" value=""/>
    <add key="EmailServicePassword" value=""/>
    <add key="AuctionEmailFromAddress" value=""/>
    <add key="AuctionAdmin" value=""/>
 </appSettings>
   <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
